.chat-sideber
  .chat-sideber__top
    Log in group名
    = fa_icon 'edit', class:'colorSet'
    = fa_icon 'cog', class:'colorSet'
  .chat-sideber__under
    %p.group-name Test Gr.1
    %p.group-message hello
    %p.group-name Test Gr.2
    %p.group-message fine
    %p.group-name Test Gr.3
    %p.group-message fight!
.chat-main
  .chat-main__top
    %p.group-name グループ名
    %p.edit Edit
    %p.group-member chatspace
  .chat-main__middle
    %p.chat-name user1
    %p.chat-time 2019/1/21
    %p.chat-comment コメント
    %p.chat-name user2
    %p.chat-time 2019/1/22
    %p.chat-comment コメント
  .chat-main__under
    %form
      %input.text-area{:placeholder => "type a message"}/
      %input#icon.button{:type => "file"}/
      %input.send{:type => "submit", :value => "Send"}/
      %span.icom
        %label{:for => "icon"}

