@mixin chat-sideber(){
  color:#ffffff;
  float:left;
  width:300px;
  margin:0px;
  padding:0px;
}
.chat-sideber{
  @include chat-sideber();
      .colorSet{
      color:white;
      background-color:#253141;
      margin-left:21.8px;
     }
  &__top{
    background-color: #253141;
    padding:35px 20px 35px 20px;
     font-size:16px;
     font-weight:bold;
     margin:0px;
     display:inline-block;
     border-bottom-style:solid;
     border-bottom-width:0px;
  }

  &__under{
    background-color: #2f3e51;
    height:100vh;
    .group-name{
    font-size:15px;
    padding:20px 20px 5px;
    margin: 0px;
  }
    .group-message{
    font-size:11px;
    padding:0px 20px 20px;
    margin:0px;
  }
  }
}
